
<div class="row">
    <div class="col">
        <center><img  src="http://i.imgur.com/Gq3qL.png" width="100" hight="100"></center>
        <p class="text-center">@copyright2018 </p> 
    </div>
</div>
</body>
</html>
