<% include ../partials/header%>
<p></p>
<div class="jumbotron p-3 mb-2 bg-warning text-dark">
<h1>About Me<h1>
<h2>Fullname <%=Fullname%></h2>
<h2>Nickname Phet</h2>
<h3>Age : 21</h3>
<h3>MyBirthday:<%=bdate%></h3>
<h3>My Hobbie</h3>
<ul>
<% hobbies.forEach(function(hobby){ %>
 <li><%= hobby %></li>
<%}); %>
   </ul>  
   </div>   
    

<% include ../partials/footer%>