<% include ../partials/header%>

<div class="jumbotron">
    <h1 class="display-3">Home</h1>
    <p class="lead">welcome</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="about" role="button">Enter</a>
    </p>
</div>
<% include ../partials/footer%>
