
<% include ../partials/header%>
<p></p>
<center>
<div class="jumbotron p-3 mb-2 bg-warning text-dark">
    <h1 class="display-3">Project -1-</h1>
    <p class="lead">Sittisak Phetkaew 5930211038</p>
    <h4>140-390 Full Stack with node JS</h4>
    <hr class="my-2">
    <img class="mx-auto d-block" style="width:40%;" src="https://scontent.fbkk12-3.fna.fbcdn.net/v/t1.0-9/10354658_906777419343728_1556495449187286107_n.jpg?_nc_cat=102&_nc_ht=scontent.fbkk12-3.fna&oh=b3ace93aeba91cb3e4432582853b5deb&oe=5C43E7ED">
    <b><p>By teacher AJ Korawit Prutsachainimmit</p></b>
<p class="lead">
<a class="btn btn-primary btn-lg" href="about" role="button">About me..</a>
</p>
</div>
</center>
<% include ../partials/footer%>

