
<% include ../partials/header%>

<div class="jumbotron">
    <h1 class="display-3">Project -1-</h1>
    <p class="lead">Sittisak Phetkaew 5930211038</p>
    <hr class="my-2">
    <p>Good luck</p>
<p class="lead">
<a class="btn btn-primary btn-lg" href="about" role="button">Enter</a>
</p>
</div>
<% include ../partials/footer%>

