<% include ../partials/header%>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<h1 class="text-center">Product</h1>
<div class="jumbotron p-3 mb-2 bg-danger text-white">
<table class="table p-3 mb-2 bg-warning text-dark">
    <thead>
        <tr class="text-success text-white bg-dark">
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th><a  class="btn btn-success" href="/newproduct" role="button">ADD NEW</a></th>
        </tr>
    </thead>
    <tbody id="myTable">
    <% products.forEach(function(products){ %>
        <tr>
            <td scope="row" class="text-primary"><%= products.product_id %></td>
            <td><%= products.title %></td>
            <td><%= products.price %></td>
            <td><a class="btn btn-primary" href="/products/<%= products.product_id %>" role="button">Edit</a></td>
        </tr>
    <%}); %>
    </tbody>
</table>
</div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<% include ../partials/footer%>










