<% include ../partials/header%>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<h1 class="text-center">Users</h1>
<div class="jumbotron p-3 mb-2 bg-danger text-white ">
<table class="table p-3 mb-2 bg-warning text-dark">
    <thead>
        <tr class="text-success text-white bg-dark">
            <th >ID</th>
            <th>Email</th>
            <th>Password</th>
            <th><a  class="btn btn-success" href="/newuser" role="button">ADD NEW</a></th>
        </tr>
    </thead>
    <tbody id="myTable">
    <% users.forEach(function(users){ %>
        <tr>
            <td scope="row" class="text-primary"><%= users.user_id %></td>
            <td><%= users.email %></td>
            <td><%= users.password %></td>
            <td><a  class="btn btn-primary" href="/users/<%= users.user_id %>" role="button">EDIT</a></td>
        </tr>
    <%}); %>
    </tbody>
</table>
</div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<% include ../partials/footer%>